<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  button {
  text-align: center;
  margin-left: 420px ;
}
</style>
<body>
  <div class="contenedor">
    <br><br><br><br><br><br><br><br>
              

  <button style="width: 300px; height: 100px" type="button" class="btn btn-primary">Coches
    <a class="nav-link" aria-current="page" href="/coches"></a>
  </button>
  <button style="width: 300px; height: 100px" type="button" class="btn btn-primary">Cascos
        <a class="nav-link" aria-current="page" href="/cascos"></a>

  </button>
  </div>
 

</body>
</html>