<main class="flex-shrink-0 mb-5 mt-4">

  <div class="container">
    <div class="bg-light p-5 rounded">
      <h1>{{title}}</h1>
      <p>{{txt}}</p>
      <img src="assets/img/redbull.jpg" class="card-img-top" alt="..." width="300px" height="600px" />

    </div>
  </div>

</main>